body{
    background: url(fondo1.jpg);
    color: white;
    border: 10px solid;
    font-family: "Helvetica";
}
h1{
    color: white;
    font-size: 70px;
    background: #D3B0DF;
    font-family: "Grand Hotel";
    text-align: center;
}
h2{
    color: white;
    font-size: 40px;
    background: #D3B0DF;
    font-family: "Grand Hotel";
    text-align: center;   
}
div{
    margin: 20px 210px 20px 210px;
    font-size: 20px;
    background: #F6BBD5;
    position: relative;
    text-align: center;
}
a{
    background: #F6BBD5;
    padding: 15px 30px;
    margin:10px 20px 10px 20px;
    display: block;
    display: inline-block;
    color: white;
    text-decoration: none;
    list-style: none;
}
a:hover{
    background: #D3B0DF;
    color:white;
    border-bottom: 5px white solid;
}
table{
    border: 5px solid #D3B0DF;
    border-collapse: collapse;
    margin: 10px 320px;
}
table td{
    border: 5px solid #D3B0DF;
    padding: 15px;
}
table td:hover{
    background: #D3B0DF;

}